<ul class="payment-methods">
    <li>
        <input class="custom-radio" type="radio" name="paymentMethod" id="mastercard" value="Credit / Debit Card">
        <label for="mastercard">
            <img class="gateway-icon" width="60" height="36" src="{{url}}/card-icons/mastercard.svg" alt="MasterCard">
            MasterCard
        </label>
    </li>

    <li>
        <input class="custom-radio" type="radio" name="paymentMethod" id="visa" value="Credit / Debit Card">
        <label for="visa">
            <img class="gateway-icon" width="60" height="36" src="{{url}}/card-icons/visa.svg" alt="Visa">
            Visa
        </label>
    </li>

    <li>
        <input class="custom-radio" type="radio" name="paymentMethod" id="twint" value="TWINT">
        <label for="twint">
            <img class="gateway-icon" width="60" height="36" src="{{url}}/card-icons/twint.svg" alt="TWINT">
            TWINT
        </label>
    </li>

    <li>
        <input class="custom-radio" type="radio" name="paymentMethod" id="postfinance-card" value="PostFinance Card">
        <label for="postfinance-card">
            <img class="gateway-icon" width="60" height="36" src="{{url}}/card-icons/postfinance-card.svg" alt="PostFinance Card">
            PostFinance Card
        </label>
    </li>

    <li>
        <input class="custom-radio" type="radio" name="paymentMethod" id="postfinance-efinance" value="PostFinance E-Finance">
        <label for="postfinance-efinance">
            <img class="gateway-icon" width="60" height="36" src="{{url}}/card-icons/postfinance-e-finance.svg" alt="PostFinance E-Finance">
            PostFinance E-Finance
        </label>
    </li>

    <li>
        <input class="custom-radio" type="radio" name="paymentMethod" id="invoice" value="Invoice">
        <label for="invoice">
            <img class="gateway-icon" width="60" height="36" src="{{url}}/card-icons/invoice.svg" alt="Rechnung">
            Rechnung
        </label>
    </li>

</ul>