{% from "_includes/forms" import textField, lightswitchField, autosuggestField %}

{{ autosuggestField({
  label: "Spaced Id"|t('commerce-postfinance'),
  instructions: "Your postfinance space Id."|t('commerce-postfinance'),
  id: 'spaceId',
  class: 'ltr',
  name: 'spaceId',
  suggestEnvVars: true,
  value: gateway.spaceId,
  errors: gateway.getErrors('spaceId')
}) }}

{{ autosuggestField({
  label: "API user id"|t('commerce-postfinance'),
  instructions: "Your API user Id."|t('commerce-postfinance'),
  id: 'userId',
  class: 'ltr',
  name: 'userId',
  suggestEnvVars: true,
  value: gateway.userId,
  errors: gateway.getErrors('userId')
}) }}

{{ autosuggestField({
  label: "API secret key"|t('commerce-postfinance'),
  instructions: "Your API secret Key."|t('commerce-postfinance'),
  id: 'secretKey',
  class: 'ltr',
  name: 'secretKey',
  suggestEnvVars: true,
  value: gateway.secretKey,
  errors: gateway.getErrors('secretKey')
}) }}
